<ion-header>
  <ion-toolbar>
    <ion-title>
      Yada 2FA
    </ion-title>
    <ion-button slot="end" (click)="settings()"><ion-icon name="add"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-progress-bar [value]="timeLeft"></ion-progress-bar>
    <ion-list>
      <ion-item>
        <ion-label><strong>Service name</strong></ion-label>
        <ion-label><strong>Authorization code</strong></ion-label>
      </ion-item>
      <ion-item *ngFor="let service of services; let i = index">
        <ion-label [innerHTML]="services[i].service.substr('storage-'.length)"></ion-label>
        <ion-label [innerHTML]="services[i].auth_code"></ion-label>
      </ion-item>
    </ion-list>
    <div *ngIf="services">No services. Add services on the settings tab.</div>
  </div>
</ion-content>
