<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-item>
        <ion-label>2fa data: </ion-label>
        <ion-input [(ngModel)]="data" placeholder="Paste 2fa data here"></ion-input>
        <ion-button *ngIf="data" (click)="add()">Add</ion-button>
        <ion-button *ngIf="!data" disabled>Add</ion-button>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label><strong>Service name</strong></ion-label>
        </ion-item>
        <ion-item *ngFor="let service of services; let i = index">
          <ion-label [innerHTML]="services[i].service.substr('storage-'.length)"></ion-label>
          <ion-button (click)="remove(services[i])" color="danger">Remove</ion-button>
        </ion-item>
      </ion-list>
  </div>
</ion-content>
